# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\lesson_with_ulhich\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
